
body {
    padding-top: 56px;
}

#animation { 
  font-size: 3em; 
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

#animation:hover { font-size: 2em; color: red; }

@media screen and (max-width: 1000px){
  #animation { 
    font-size: 2em;
    color: blue;
  }
}
